<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.QAMapper">
 <select id="selectQA"  resultType="ltd.newbee.mall.newbeemall.entity.QA">

select q.question_id,q.user_id,q.date as questionDate,q.contents,a.answer_id,a.employee_id,a.date as answerDate,a.answer,a.goods_id,count(l.user_id) as count
from questions as q
join answer as a on a.question_id=q.question_id
left join qa_like as l on a.answer_id=l.answer_id
where q.proved=1 and q.goods_id= #{goodsId}
group by answer_id order by ${columnName} desc
<!-- count desc,l.like_date desc -->

limit #{start},#{number}
</select>
 <select id="totalCount" parameterType="Long" resultType="int">
        SELECT count(answer_id) as totalCount FROM answer where goods_id = #{goodsId}
    </select>
    
    
    
<!--     判断是否可以插入数值 -->
    <select id="getLikeQA"  resultType="int">	
	select count(*) from qa_like where answer_id= #{answerId} and user_id= #{userId}
	
</select>

<!-- 插入数据 
 -->   
  <insert id="insertQALike" parameterType="map">
		insert into qa_like
		<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="reviewId != null">
	review_id,
</if>
<if test="userId != null">
	user_id,
</if>
<if test="likeDate != null">
	like_date
</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
<if test="reviewId != null">
	#{reviewId},
</if>
<if test="userId != null">
	#{userId},
</if>
<if test="likeDate != null">
	#{likeDate}
</if>
</trim>
    </insert>
    
    
    
    
    
    
</mapper>