<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.RescentCheckGoodsMapper">
<resultMap id="BaseResultMap"
		type="ltd.newbee.mall.newbeemall.entity.RescentCheckGoods">
		 <id column="user_id" jdbcType="BIGINT" property="userId"/>
 		<result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="check_date" jdbcType="DATE" property="checkDate"/>
    </resultMap>


    <select id="userId"  resultMap="BaseResultMap">
        SELECT user_id,goods_id,chek_date,count(check_date)
        FROM newbee_mall_db.rescent_check_goods 
        where user_id = #{userId,jdbcType=BIGINT}
        group by user_id,goods_id 
        order by count(check_date) desc;
         limit #{number}
    </select>

    

</mapper> 