<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.ReviewLikeItMapper">
<!-- 插入数据 -->
	<insert id="insertLike" parameterType="map">
		insert into review_like
		VALUES(
		#{reviewId},
		#{userId},
		#{likeDate})
	</insert>
	
 <select id="getLikeCount"  resultType="int">	
	select count(*) from review_like where review_id= #{reviewId} and user_id= #{userId}
	
</select>
</mapper>