<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.ReviewMapper">
 <select id="selectReview"  resultType="ltd.newbee.mall.newbeemall.entity.Review">

select rating,nick_name,title,content,review_date,r.review_id,count(user_id) as count,goods_name,goods_id
from review as r
left join review_like as l
on r.review_id=l.review_id
left join tb_newbee_mall_order_item as o
on o.order_id=r.order_id
where goods_id= #{goodsId}
group by l.review_id order by count desc;


group by l.review_id order by ${columnName} desc;
</select>
<select id="countRating" resultType="int">
select rating,count(rating) as countRating from review group by rating
</select>
</mapper>