<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.WhetherReviewMapper">
<!-- 插入数据 -->
<insert id="insertReview" parameterType="map">
		insert into review
		<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="reviewId != null">
	review_id,
</if>
<if test="orderId != null">
	order_id,
</if>
<if test="nickName != null">
	nick_name,
</if>
<if test="rating != null">
	rating,
</if>
<if test="title != null">
	title,
</if>
<if test="contents != null">
	contents,
</if>
<if test="goodsId != null">
	goods_id,
</if>
<if test="reviewDate != null">
	review_date,
</if>
<if test="photo1 != null">
	photo1,
</if>
<if test="photo2 != null">
	photo2,
</if>
<if test="photo3 != null">
	photo3,
</if>
<if test="photo4 != null">
	photo4,
</if>
<if test="photo5 != null">
	photo5
</if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
<if test="reviewId != null">
	#{reviewId},
</if>
<if test="orderId != null">
	#{orderId},
</if>
<if test="nickName != null">
	#{nickName},
</if>
<if test="rating != null">
	#{rating},
</if>
<if test="title != null">
	#{title},
</if>
<if test="contents != null">
	#{contents},
</if>
<if test="goodsId != null">
	#{goodsId},
</if>
<if test="reviewDate != null">
	#{reviewDate},
</if>
<if test="photo1 != null">
	#{photo1},
</if>
<if test="photo2 != null">
	#{photo2},
</if>
<if test="photo3 != null">
	#{photo3},
</if>
<if test="photo4 != null">
	#{photo4},
</if>
<if test="photo5 != null">
	#{photo5}
</if>
</trim>

<!-- 
		(review_id,
		order_id,
		nick_name,
		rating,
		title,
		contents,
		goods_id,
		review_date,
		photo1,
		photo2,
		photo3,
		photo4,
		photo5)

		VALUES(
		#{reviewId},
		#{orderId},
		#{nickName},
		#{rating},
		#{title},
		#{contents},
		#{goodsId},
		#{reviewDate},
		#{photo1},
		#{photo2},
		#{photo3},
		#{photo4},
		#{photo5}
		) -->

	</insert>
	<!-- 发番 -->
	<select id="selectMaxReviewId" resultType="long">
		select max(review_id) from review
	</select>
<!-- 判断是否可以插入数据
#可以写评价的是 order中存在review中没有的
#没有购买记录的不可以写评价
#写过评价的不可以写评价 -->
 <select id="getReview"  resultType="ltd.newbee.mall.newbeemall.entity.Review">
 	select item.order_id,re.order_id
	from tb_newbee_mall_order_item as item
	join tb_newbee_mall_order as o
	on o.order_id=item.order_id
	left join review as re
	on item.order_id=re.order_id
	and item.goods_id= re.goods_id
	where re.order_id is null
	and item.goods_id= #{goodsId}
	and o.user_id= #{userId}
</select>
   

</mapper>